<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width, initial-scale=1.0">
    
    <title>Get and Post</title>
    </head>
<body>
    <h1>Get Post example using express</h1>
    <h2>GET</h2>
    <hr>
    <form action ="http://localhost:3000/tacos" method="get">
          <input type="text" name="meat">
          <input type="number" name="qty">
          <button>Submit</button>
    </form>
    <h2>POST</h2>
    <hr>
    <form action ="http://localhost:3000/tacos" method="post">
        <input type="text" name="meat">
        <input type="number" name="qty">
        <button>Submit</button>
  </form>
    
   </body>
</html>