/* {
    background-color:rgb(188, 188, 243);
}*/
button {
    background-color: rgb(22, 4, 102);
    color: antiquewhite;
}
#startbutton {
    background-color: rgb(255, 0, 221);
    color:rgb(2, 15, 15);
}
body {
     background-color: bisque;
    
}
h1 {
    text-align: center;
   font-weight: 700;
   text-decoration: wavy underline; ;
   text-decoration-color: rgb(193, 245, 4) ;
   text-decoration-thickness: 4px ;
   letter-spacing: 8px;
   font-size: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: rgb(252, 3, 239) underline;
}
p {
    line-height: 1.2;
}
hr {
   background: rgba(208, 243, 9, 0.808);
   height: 10px;
   
   border-top: 4px blue;
   border-style: solid;
}
.tag {
    color: rgb(125, 9, 233);
}

p + h3 {
    background-color: rgb(123, 231, 22);
}

div > ul >li>ul>li {
    background-color: aqua;
}
input[type="text" ] {
    color:rgb(61, 10, 202);
}
button:hover {
    background-color: rgb(8, 241, 47);
}
a:hover {
    text-decoration:overline;
}

p:nth-of-type(3n) {
    background-color: blueviolet;
}