h1 {
    text-align: center;
   font-weight: bold;
   text-decoration: wavy underline; ;
   text-decoration-color: rgb(245, 4, 4) ;
   text-decoration-thickness: 10px ;
   letter-spacing: 8px;
}
a{
    text-decoration: rgb(252, 3, 239) underline;
}
p {
    line-height: 1.2;
}
