body {
    font-family: 'Ubuntu', sans-serif;
}
section {
    width: 80%;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1589527387407-ab1cef0c42f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
    background-position: left;
    margin: 0 auto;
}
h1 {
    font-size: 80px;
    color:azure
 
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(84, 240, 12);
    font-weight: 100;
} 