h1 {
    background-color: #2a9d8f;
    border:5px solid #264653;
    color:bisque;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin:20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}
h1:nth-of-type(2n){
    background-color: #e9c46a;
}
h1:nth-of-type(3n){
    background-color: #2a9d8f;
}
h1:nth-of-type(4n){
    background-color: #e76f51;
}

section:first-of-type h1:nth-of-type(1) {
    transform-origin: top;
    transform: rotate(3deg);
}
section:first-of-type h1:nth-of-type(2) {
    transform-origin: top;
    transform: scale(1.2);
}
section:first-of-type h1:nth-of-type(3) {
    transform-origin: top;
    transform: translateX(150px);
}
section:first-of-type h1:nth-of-type(4) {
    transform-origin: top;
    transform: translateY(-15px);
}

/*secunda seccion de los divs*/
section:nth-of-type(2) h1:nth-of-type(1) {
    transform-origin: top;
    transform: skew(10deg,12deg);
}
section:nth-of-type(2) h1:nth-of-type(2) {
    transform-origin: top;
    transform: skew(12deg);
}
section:nth-of-type(2) h1:nth-of-type(3) {
    transform-origin: top;
    transform: rotate(38deg) scale(1.3)
}
section:nth-of-type(2) h1:nth-of-type(4) {
    transform-origin: top;
    transform: rotate(-48deg) scale(1.9) translateX(25px)
}
section:nth-of-type(2)  {
    
    transform: rotate(-15deg) scale(-0.5);
}