section{
    background-color: bisque;
    width: 300px;
    height: 250px;
}
div {
    background-color:#9a8c98 ;
    width: 150px;
    height: 100px;
}
/*los ems se usan con el tamaño relativo a su parent puedes notar en casacda
de los ul va camiado por que estan nested un ul del otyro*/
#ems h2{
    font-size: 2em;
}
#ems h3 {
    font-size: 1.5em;
}
#ems article {
    font-size: 16px;
}
#ems p{
    font-size: 1.1em;
}

#ems button {
    font-size: 1em;
    padding: 0 1em ;
    border-radius: 0.5em;
    background-color: #219ebc;
}

#ems ul {
    font-size: 1.3em;
}
hr {
    color: #219ebc;
    height: 5px;
    border-style: solid;
    background-color: black;
}

/*  Aqui viene los selectors de meidias en REMS esta se usa siendo a consideracion la mdia root
por ehemlo html {
    fonts-size 20px;
    ]
    toma de referncia que el html tiene 20 pix y los que tengann meida en rems van a hacerse mas chioa
    */


#rems h2 {
    font-size: 3rem;
}
<#rems h3 {
    font-size: 2rem;
}
#rems button {
    font-size: 1.3rem;
}