h1 {
    color:#06f7ba;
    background-color: #f707b7;
}
h2{
    color:white;
    background-color:rgb(7, 31, 252);
}

button {
    color:magenta;
    background-color: bisque;

}
p {
    color:wheat;
    background:black;
}
div {
    color: blue;
}
body{
    background-color: #ddd0f5;
}