h1 {
    background-color: antiquewhite;
    border:1px solid black;
    /*display:inline;      este no respeta el hight o width: ;*/
    width:250px;
    margin-left: 100px;
    
}
span{
    background-color: palegreen;
    border:1px solid blue;
    display: block; /* si respeta width y heigt y margins*/
    width:200px;
}
div {
background-color: beige;
height: 200px;
width: 200px;
border: black;
display:inline-block;
margin: 50px;
}
p {
    background-color: aqua;
    width: 20px;;
}