
<%-include('partials/head') %> 
<body>
   <%-include('partials/navbar') %> 
    <h1>Home page   </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae porro atque natus assumenda,
     error velit animi itaque doloribus quasi iste excepturi ducimus fugiat expedita, facilis inventore 
     omnis reprehenderit tempora.</p>
     <h2> The sengond info</h2>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae porro atque natus assumenda,
        error velit animi itaque doloribus quasi iste excepturi ducimus fugiat expedita, facilis inventore 
        omnis reprehenderit tempora.</p>
    
   </body>
</html>